<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home | Portal MAS</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

        {% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/general.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/main-css-files/index.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/main-css-mq-files/index-mq.css' %}">

	</head>

	<body>

		<header>
			<h1 class="title">
			 Portal <span class="etec-name">MAS</span>
			</h1>

			<nav class="nav-box">
				<ul class="nav-bar">
					<li class="nav-item">
						<a class="home" href="#home">Home</a>
					</li>
					<li class="nav-item">
						<a class="aviso" href="#notice">Avisos</a>
					</li>
					<li class="nav-item">
						<a class="caderno" href="#">Cadernos</a>
					</li>
					<li class="nav-item">
						<a class="cronograma" href="#schedule">Cronograma</a>
					</li>
				</ul>
			</nav>

		</header>

		<main class="main">

			<section class="classes" id="home">
			
				<h1 class="main-title">Clique para ver a matéria de hoje</h1>

				<article class="class-item">
					<a href="#" class="ancor-box">
						<h2 class="main-subtitle">Primeira Aula - lorem</h2>
						<p>dolor ipsum lorem.</p>
					</a>
				</article>

				<article class="class-item">
					<a href="#" class="ancor-box">
						<h2 class="main-subtitle">Segunda Aula - lorem</h2>
						<p>dolor ipsum lorem.</p>
					</a>
				</article>

				<article class="class-item">
					<a href="#" class="ancor-box">
						<h2 class="main-subtitle">Terceira Aula - lorem</h2>
						<p>dolor ipsum lorem.</p>
					</a>
				</article>

				<article class="class-item">
					<a href="#" class="ancor-box">
						<h2 class="main-subtitle">Quarta Aula - lorem</h2>
						<p>dolor ipsum lorem.</p>
					</a>
				</article>

				<article class="class-item">
					<a href="#" class="ancor-box">
						<h2 class="main-subtitle">Quinta Aula - lorem</h2>
						<p>dolor ipsum lorem.</p>
					</a>
				</article>
			</section>

			<section class="notices" id="notice">

				<h1 class="main-title">Avisos</h1>

				<article class="notice-item">
					<div class="notice-content">
						<h2 class="main-subtitle">Aviso Geral</h2>
						<p>Lorem ipsum dolor.</p>
						<br>
						<p>Lorem ipsum dolor sit amet.</p>	
					</div>
				</article>

				<article class="notice-item">
					<div class="notice-content">
						<h2 class="main-subtitle">Aviso de Provas</h2>
						<p>Lorem ipsum dolor.</p>
						<br>
						<p>Lorem ipsum dolor sit amet.</p>	
					</div>
				</article>

				<article class="notice-item">
					<div class="notice-content">
						<h2 class="main-subtitle">Aviso de Trabalhos</h2>
						<p>Lorem ipsum dolor.</p>
						<br>
						<p>Lorem ipsum dolor sit amet.</p>	
					</div>
				</article>

				<article class="notice-item">
					<div class="notice-content">
						<h2 class="main-subtitle">Aviso de Exercícios</h2>
						<p>Lorem ipsum dolor.</p>
						<br>
						<p>Lorem ipsum dolor sit amet.</p>	
					</div>
				</article>
			</section>

			<section class="schedule" id="schedule">

				<h1 class="main-title">Cronograma das Aulas</h1>

				<div class="schedule-wrap">
				
					<input id="segunda" type="radio" name="tabs" checked>
					<label for="segunda">Segunda</label>

					<div id="segunda-content">
					    <table>
							<tbody>
									<td>Português</td>
									<td>07:30 - 08:20</td>
								</tr>
								<tr>
									<td>Português</td>
									<td>08:20 - 09:10</td>
								</tr>
								<tr>
									<td>Inglês</td>
									<td>09:10 - 10:00</td>
								</tr>
								<tr>
									<td>Biologia</td>
									<td>10:15 - 11:10</td>
								</tr>
								<tr>
									<td>Inglês</td>
									<td>11:10 - 11:55</td>
								</tr>
							</tbody>
						</table>
					</div>
					
					
					<input id="terca" type="radio" name="tabs">
					<label for="terca">Terça</label>

					<div id="terca-content">
					   	<table>
							<tbody>
								<tr>
									<td>Matemática</td>
									<td>07:30 - 08:20</td>
								</tr>
								<tr>
									<td>Matemática</td>
									<td>08:20 - 09:10</td>
								</tr>
								<tr>
									<td>Matemática</td>
									<td>09:10 - 10:00</td>
								</tr>
								<tr>
									<td>Ed. Física</td>
									<td>10:15 - 11:10</td>
								</tr>
								<tr>
									<td>Ed. Física</td>
									<td>11:10 - 11:55</td>
								</tr>
							</tbody>
						</table>
				 	</div>


					<input id="quarta" type="radio" name="tabs">
					<label for="quarta">Quarta</label>

					<div id="quarta-content">
					 	<table>
							<tbody>
								<tr>
									<td>História</td>
									<td>07:30 - 08:20</td>
								</tr>
								<tr>
									<td>História</td>
									<td>08:20 - 09:10</td>
								</tr>
								<tr>
									<td>Biologia</td>
									<td>09:10 - 10:00</td>
								</tr>
								<tr>
									<td>Física</td>
									<td>10:15 - 11:10</td>
								</tr>
								<tr>
									<td>Física</td>
									<td>11:10 - 11:55</td>
								</tr>
							</tbody>
						</table>
					</div>


					<input id="quinta" type="radio" name="tabs">
					<label for="quinta">Quinta</label>

					<div id="quinta-content">
						<table>
							<tbody>
								<tr>
									<td>Português</td>
									<td>07:30 - 08:20</td>
								</tr>
								<tr>
									<td>Português</td>
									<td>08:20 - 09:10</td>
								</tr>
								<tr>
									<td>Geografia</td>
									<td>09:10 - 10:00</td>
								</tr>
								<tr>
									<td>Química</td>
									<td>10:15 - 11:10</td>
								</tr>
								<tr>
									<td>Química</td>
									<td>11:10 - 11:55</td>
								</tr>
							</tbody>
						</table>	
					</div>
					

					<input id="sexta" type="radio" name="tabs">
					<label for="sexta">Sexta</label>

					<div id="sexta-content">
						<table>
							<tbody>
								<tr>
									<td>Geografia</td>
									<td>07:30 - 08:20</td>
								</tr>
								<tr>
									<td>Matemática</td>
									<td>08:20 - 09:10</td>
								</tr>
								<tr>
									<td>Espanhol</td>
									<td>09:10 - 10:00</td>
								</tr>
								<tr>
									<td>Filosofia</td>
									<td>10:15 - 11:10</td>
								</tr>
								<tr>
									<td>Sociologia</td>
									<td>11:10 - 11:55</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</section>
		</main>
	</body>
</html>